@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Custom styles Login */

#login-content {
  padding: 1% 1%;
  border: 1px rgb(184, 184, 184) solid;
}

.main-container {
  height: 100vh;
}

#login-button {
  padding: 4%;
}

.email-password-container {
  margin-bottom: 9%;
}

.input-field {
  padding: 2%;
}

/* Custom styles Dashboard */

table {
  z-index: 1;
  position: relative;
}

.dashboard-logo {
  background-color: white;
  border-radius: 5%;
  padding: 1%;
  z-index: 100;
  position: absolute;
  bottom: 87%;
  left: 40%;
  margin: auto;
}

.button-export {
  cursor: pointer;
  background-image: url("https://img.icons8.com/?size=100&id=366&format=png&color=000000");
  background-size: contain; /* Ajusta la imagen al tamaño del botón */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del botón */
  width: 26px; /* Ajusta el tamaño del botón */
  height: 26px; /* Ajusta el tamaño del botón */
  border: none;
  color: rgba(0, 0, 0, 0);
}

.button-create {
  cursor: pointer;
  background-image: url("https://img.icons8.com/?size=100&id=6697&format=png&color=000000");
  background-size: contain; /* Ajusta la imagen al tamaño del botón */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del botón */
  width: 26px; /* Ajusta el tamaño del botón */
  height: 26px; /* Ajusta el tamaño del botón */
  border: none;
  color: rgba(0, 0, 0, 0);
}

.button-antiguas {
  cursor: pointer;
  background-size: contain; /* Ajusta la imagen al tamaño del botón */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del botón */
  width: 26px; /* Ajusta el tamaño del botón */
  height: 26px; /* Ajusta el tamaño del botón */
  border: none;
  color: rgba(0, 0, 0, 0);
}
.button-canceladas {
  cursor: pointer;
  background-size: contain; /* Ajusta la imagen al tamaño del botón */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del botón */
  width: 26px; /* Ajusta el tamaño del botón */
  height: 26px; /* Ajusta el tamaño del botón */
  border: none;
  color: rgba(0, 0, 0, 0);
}
/* Iconos */
.icon-activas {
  background-image: url("https://img.icons8.com/?size=100&id=39273&format=png&color=000000");
}

.icon-canceladas {
  background-image: url("https://img.icons8.com/?size=100&id=3062&format=png&color=000000");
}
.icon-antiguas {
  background-image: url("https://img.icons8.com/?size=100&id=6904&format=png&color=000000");
}
.button-logout {
  cursor: pointer;
  background-image: url("https://img.icons8.com/?size=100&id=2445&format=png&color=000000");
  background-size: contain; /* Ajusta la imagen al tamaño del botón */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del botón */
  width: 26px; /* Ajusta el tamaño del botón */
  height: 26px; /* Ajusta el tamaño del botón */
  border: none;
  color: rgba(0, 0, 0, 0);
}
th {
  background-color: #c7c6c6;
  padding: 1%;
  cursor: pointer;
}

tr {
  background-color: #e4e4e4;
}

.input-search {
  margin-left: 15rem;
}

.search-button {
  cursor: pointer;
  background-image: url("https://img.icons8.com/?size=100&id=132&format=png&color=000000");
  background-size: contain; /* Ajusta la imagen al tamaño del botón */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del botón */
  width: 26px; /* Ajusta el tamaño del botón */
  height: 26px; /* Ajusta el tamaño del botón */
  border: none;
  color: rgba(0, 0, 0, 0);
}
.filter-button {
  cursor: pointer;
  background-image: url("https://img.icons8.com/?size=100&id=3004&format=png&color=000000");
  background-size: contain; /* Ajusta la imagen al tamaño del botón */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del botón */
  width: 26px; /* Ajusta el tamaño del botón */
  height: 26px; /* Ajusta el tamaño del botón */
  border: none;
  color: rgba(0, 0, 0, 0);
  margin-right: 50%;
}
.applyFilters-button {
  cursor: pointer;
  background-image: url("https://img.icons8.com/?size=100&id=DgfdDC5-bqhb&format=png&color=000000");
  background-size: contain; /* Ajusta la imagen al tamaño del botón */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del botón */
  width: 26px; /* Ajusta el tamaño del botón */
  height: 26px; /* Ajusta el tamaño del botón */
  border: none;
  color: rgba(0, 0, 0, 0);
  margin: auto;
}
.advanced-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f3f4f6;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  margin: auto;
}
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  position: fixed;
  width: 100%;
}
.dashbar {
  color: #202020;
  padding: 3rem;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-items: center;
  margin: auto;
}

.actionbutton-cancel {
  cursor: pointer;
  background-image: url("https://img.icons8.com/?size=100&id=60713&format=png&color=000000");
  background-size: contain; /* Ajusta la imagen al tamaño del botón */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del botón */
  width: 26px; /* Ajusta el tamaño del botón */
  height: 26px; /* Ajusta el tamaño del botón */
  border: none;
  color: rgba(0, 0, 0, 0);
}

.actionbutton-edit {
  cursor: pointer;
  background-image: url("https://img.icons8.com/?size=100&id=71201&format=png&color=000000");
  background-size: contain; /* Ajusta la imagen al tamaño del botón */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del botón */
  width: 26px; /* Ajusta el tamaño del botón */
  height: 26px; /* Ajusta el tamaño del botón */
  border: none;
  color: rgba(0, 0, 0, 0);
  margin-left: 10%;
}
.datepicker {
  color-scheme: light;
}
.timepicker {
  color-scheme: light;
}
.atrasbtn {
  cursor: pointer;
  color: rgb(250, 250, 250);
  background-color: #7c7c7c;
}
.submitbtn {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: mediumseagreen;
}
